body{background:black;color:white;font-size:16px;line-height:24px;font-family:Helvetica;font-weight:300;}
a{color:white;opacity:0.6;}
a:hover{color:#95c4fa;text-decoration:none;}
p{opacity:.9;}
.grey{opacity:1;}
.blue{color:#3399CC;}
#home-tab{position:fixed;padding:8px;font-size:24px;bottom:0;left:200px;border-top-left-radius:5px;border-top-right-radius:5px;text-shadow:0 2px 2px rgba(0, 0, 0, 0.3);z-index:5000;opacity:1;}
#home-tab a{opacity:1;}
h1,h2,h3,h4,h5,h6{margin-top:2em;opacity:.4;font-weight:400;font-size:40px;line-height:50px;}
.debug{border:solid 10px #CCC;}
.debug .debug-slug{position:absolute;top:10px;left:10px;font-size:72px;margin:0 !important;padding:0 !important;color:yellow;}
#home h1{margin-bottom:36px;}
.post-menu{list-style-type:none;margin:0;padding:0;}
.post-menu li{margin-bottom:20px;}
.post-menu li .img{color:white;text-align:right;}
.post-menu li .img h1{margin:0 !important;padding:0;text-align:center;font-size:40px;font-weight:bold;line-height:50px;opacity:.3;background:black;color:white;border-radius:100px;width:55px;display:inline-block;}
.post-menu a{color:white;font-weight:bold;-webkit-transition:opacity 1s ease;-moz-transition:opacity 1s ease;-o-transition:opacity 1s ease;-ms-transition:opacity 1s ease;font-size:1.1em;}
.post-menu .excerpt{margin-top:6px;opacity:.5;}
.post-menu a:hover{text-decoration:none;opacity:.5;color:#95c4fa;}
.publish-date{color:white;font-weight:300;text-transform:uppercase;font-weight:bold;opacity:.6;}
.publish-div{color:#006699;}
.slide{width:1100px;height:720px;margin-top:50px;opacity:.7;-webkit-transition:opacity 2s ease;-moz-transition:opacity 2s ease;-o-transition:opacity 2s ease;-ms-transition:opacity 2s ease;}
.slide.active{opacity:1;}
.slide h1,.slide p,.slide a,.slide ul{opacity:0;-webkit-transition:opacity 2s ease;-moz-transition:opacity 2s ease;-o-transition:opacity 2s ease;-ms-transition:opacity 2s ease;}
.slide.active h1,.slide.active p,.slide.active a,.slide.active ul{opacity:1;}
.debug.slide h1,.debug.slide p,.debug.slide a,.debug.slide ul{opacity:1 !important;}
iframe{border:none;outline:none;}
.popover{box-shadow:0 0 10px rgba(0, 0, 0, 0.4);}
.popover-content{padding:0;overflow:hidden;}
.popover h3{color:black;}
.popup-content{font-size:14px;color:black;list-style-type:none;margin:0;padding:0;width:300px;position:relative;}
.popup-content li{padding:12px;border-top:solid 1px #999;border-bottom:solid 1px #444;}
.popup-content p{margin:0;padding:0;font-size:.9em;}
.popup-content a.title{color:#666;display:block;font-size:.9em;font-weight:bold;}
